@font-face {
	font-family: __CMSFont;
	font-weight: normal;
	font-style: normal;
	src: url("font/cms-regular.eot"),
	     url("font/cms-regular.woff") format("woff"),
	     url("font/cms-regular.ttf") format("truetype");
}

@font-face {
	font-family: __CMSFont;
	font-weight: bold;
	font-style: normal;
	src: url("font/cms-bold.eot"),
	     url("font/cms-bold.woff") format("woff"),
	     url("font/cms-bold.ttf") format("truetype");
}

@font-face {
	font-family: __CMSFont;
	font-weight: normal;
	font-style: italic;
	src: url("font/cms-italic.eot"),
	     url("font/cms-italic.woff") format("woff"),
	     url("font/cms-italic.ttf") format("truetype");
}

@font-face {
	font-family: __CMSFont;
	font-weight: bold;
	font-style: italic;
	src: url("font/cms-bold-italic.eot"),
	     url("font/cms-bold-italic.woff") format("woff"),
	     url("font/cms-bold-italic.ttf") format("truetype");
}

html {
	background: #E0E0E0;
}

body {
	background: #FAFAFA;
	font-family: __CMSFont, serif;
	font-size: 14pt;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;

	/* Centered */
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 a, h2 a, h3 a {
	color: black;
	text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	color: black;
	text-decoration: underline;
}

.titlebar {
	display: block;
	padding: 15px 0px;
}

.titlebar .logo {
	display: inline;
	border: none;
	margin: 15px 40px 15px 40px;
}

.titlebar .title {
	display: inline;
	font-size: 24pt;
	font-weight: bold;
}

.navbar {
	display: block;
	font-size: 14pt;
	color: #505050;
	text-align: center;
}

.navbar .navgroups {
	position: absolute;

	background: #EFEFEF;
	background: -moz-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: -webkit-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: -ms-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: -o-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

	width: 840px;
	margin: 10px 15px;
	padding: 0px 15px;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

.navbar .navgroups:after {
	content: "";
	clear: both;
	display: block;
}

.navbar .navgroups .navgroup {
	background: #EFEFEF;
	background: -moz-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: -webkit-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: -ms-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: -o-linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);
	background: linear-gradient(top, #EFEFEF 0%, #CFCFCF 100%);

	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;

	float: left;
}

.navbar .navgroups .navgroup:hover {
	background: #909090;
	background: -moz-linear-gradient(top, #909090 0%, #707070 100%);
	background: -webkit-linear-gradient(top, #909090 0%, #707070 100%);
	background: -ms-linear-gradient(top, #909090 0%, #707070 100%);
	background: -o-linear-gradient(top, #909090 0%, #707070 100%);
	background: linear-gradient(top, #909090 0%, #707070 100%);

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	color: #F8F8F8;
}

.navbar .navgroups .navgroup .navhead {
	padding: 10px 20px;
}

.navbar .navgroups .navgroup .navelems {
	display: none;
	background: #606060;
	float: none;
	position: absolute;
	z-index: 200;
	padding: 0px;
	margin: 0px;
	top: 100%;
	font-size: 12pt;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.navbar .navgroups .navgroup:hover .navelems {
	display: block;
}

.navbar .navgroups .navgroup .navelems .navelem {
	display: block;
	padding: 0px;
	margin: 0px;
}

.navbar .navgroups .navgroup .navelems .navelem a {
	display: block;
	padding: 7px 15px;
	color: #F8F8F8;
	overflow: visible;
	white-space: nowrap;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.navbar .navgroups .navgroup .navelems .navelem a:hover {
	color: #FFFFFF;
	background: #505050;
}

.navhome {
	display: none;
}

.navbar .navgroups .navgroup .navelems .navelem .navactive a {
	font-weight: bold;
}

.main {
	border: none;
	margin-top: 95px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 25px;
}

.main img {
	border: none;
	margin: 5px;
}

.main img.float {
	float: left;
	margin-left: 0;
	margin-right: 30px;
	margin-bottom: 15px;
}

.clear-img-float {
	position: relative;
	height: 0;
	width: 0;
	z-index: -100;
	clear: left;
}

.main table {
}

.main th {
	border: 1px solid #000000;
	text-align: left;
	padding-left: 5px;
	padding-right: 15px;
}

.main td {
	text-align: left;
	padding-left: 5px;
	padding-right: 15px;
}

.submain {
	position: relative;
	margin-bottom: 40px;
}

.modifystamp {
	font-size: x-small;
	margin-top: 20px;
}

.ssl {
	font-size: x-small;
}

.checker {
	font-size: xx-small;
}

pre {
	font-family: Courier, mono;
}

.console-text {
	font-family: Courier, mono;
	color: white;
	background: black;
	border: 2px solid darkgrey;
	border-radius: 5px;
	padding: 5px 15px;
	margin: 0;
	display: inline-block;
}

@media print {
	html {
		background: #FFFFFF;
	}

	body {
		background: #FFFFFF;
	}

	.navbar {
		display: none;
	}

	.checker {
		display: none;
	}

	.ssl {
		display: none;
	}

	.titlebar {
		position: static;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left;
	}

	.main {
		position: static;
		top: 0;
		left: 0;
		margin: 0;
	}
}
