[Unit]
Description=CMS fs daemon
PartOf=cms-fsd.socket

[Service]
Type=notify
ExecStart=/opt/cms/bin/cms-fsd /opt/cms/etc/cms/db
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=1
User=cms-fsd
Group=cms-fsd
Nice=0

[Install]
WantedBy=multi-user.target
