[Unit]
Description=CMS fs daemon
PartOf=cms-fsd.socket
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/cms/bin/cms-fsd /opt/cms/etc/cms/db
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
User=cms-fsd
Group=cms-fsd
Nice=0
#Environment=RUST_BACKTRACE=1

[Install]
WantedBy=multi-user.target
