[Unit]
Description=CMS post daemon
PartOf=cms-postd.socket

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/cms/bin/cms-postd /opt/cms/etc/cms/db
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=1
User=cms-postd
Group=cms-postd
Nice=5
#Environment=RUST_BACKTRACE=1

[Install]
WantedBy=multi-user.target
