name: Cargo Build & Test

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build and test
    strategy:
      matrix:
        toolchain:
          - 1.93.0 # MSRV
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Cache Rust
        uses: actions/cache@v5
        with:
          path: ~/.rustup
          key: rustup-${{ runner.os }}-${{ matrix.toolchain }}
      - name: Cache Cargo
        uses: actions/cache@v5
        with:
          path: ~/.cargo
          key: cargo-${{ runner.os }}-${{ matrix.toolchain }}

      - run: rustup update ${{ matrix.toolchain }}
      - run: rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - run: cargo build --verbose
      - run: cargo clippy -- --deny warnings
      - run: cargo clippy --tests -- --deny warnings
      - run: cargo test --verbose

# vim: ts=2 sw=2 expandtab
